.habilidades__item{
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    align-items: center;
}

.habilidades__item img{
    height: 75px;
    border-radius: 12px;
}

@media (max-width: 425px){
    .habilidades__item img{
        height: 80px;
    }
}

