.about{
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.about__informations{
    width: 80%;
    padding: 0.5em 2em;

    display: flex;
    align-items: center;

    border: 1px solid #919791;
    border-radius: 15px;
    background-color: #1c1818;
}

.about__img{
    width: 25%;
    border-radius: 16px;
}

.about__text{
    padding: 2em;
}

.about__list{
    list-style-type:square;
}

@media (max-width: 768px){
    .about{
        padding: 3em 0;
    }
    
    .about__content{
        flex-direction: column;
        padding: 0 5em;
        gap: 1em;
    }

    .about__content img{
        width: 150px;
    }

    .about__text{
        padding-top: 1em;
        border-left: 0;
        border-top: 1px solid white;
    }
}

@media (max-width: 425px){
    .about__content{
        padding: 1em;
    }
}



