.habilidades{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 1em;
}

.habilidades .h1{
    font-size: 24px;
    font-weight: bold;    
}